<section class="home-container">
  <app-carousel></app-carousel>

  <!-- Section for displaying added slides -->
  <section class="slide__list">
    <h2>Added slides</h2>
    <ul>
      <!-- Loop through each slide using Angular's For directive -->
      @for (slide of slides; track $index) {
        <!-- Individual slide item -->
        <li class="slide__list__item">
          <!-- Display slide index -->
          <span>Slide {{ $index + 1 }}</span>
          
          <!-- Button to delete the slide, with click event handler -->
          <mat-icon (click)="DeleteSlide($index)">delete</mat-icon>
        </li>
      }
    </ul>
  </section>

  <!-- Form component for adding new slides -->
  <app-new-slide-form></app-new-slide-form>
</section>
